body {
    background-color: #4642B8;
    position: relative;
}

.menu {
    background-color: black;
    height: 75px;
    width: 98.8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.logo {
    color: #fff;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;
}

.menu_items {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menu_items li {
    border-radius: 3px;
    margin: 0 5px;
}

.menu_items li a {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #fff;
}

.menu_items li:hover,
li.active {
    background-color: #42B881;
    transition: .4s;
}

.menu_items li a:nth-child(odd) {
    border-right: 1px solid #fff;
}

.btn_menu {
    margin-right: 30px;
    font-size: 25px;
    color: #F6F6F6;
    cursor: pointer;
    display: none;
}

ul.show {
    top: 65px;
}

@media screen and (max-width: 952px) {
    .logo {
        font-size: 30px;
        padding-left: 35px;
    }

    .menu_items li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 858px) {
    .menu {
        height: 65px;
    }

    .btn_menu {
        display: inline-flex;
    }

    .menu_items {
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #414141;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }

    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }

    .menu_items li:hover {
        background: none;
    }

    .menu_items li a {
        font-size: 20px;
        color: #F6F6F6;
        font-weight: bold;
    }

    .menu_items li a:hover {
        color: black;
    }

    .logo {
        font-size: 25px;
        padding-left: 35px;
    }
}

@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li {
        margin: 5px 0 0 0;
    }

    .menu_items {
        overflow: scroll;
        height: calc(100% - 65px);
    }
}

.titulo {
    text-align: center;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor-css {
    display: flex;
    justify-content: center;
}

.contenedor-css img {
    height: 300px;
    width: 300px;
}

#Recursos-desarrollo-css {
    text-align: center;
}

.tableGen {
    background-color: #40CFAC;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

.tableGen th,td {
    padding: 10px;
    border: 2px solid black;
}

.tableGen thead {
    background-color: black;
    border-bottom: solid 5px;
    color: white;
}

.tableGen tr:nth-child(even) {
    background-color: #ddd;
}

.tableGen tr:hover td {
    background-color: #0F2F83;
    color: #ddd;
}

a {
    color: black;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
    background-image: url(fondoFooter.jpg);
    width: 84%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #96989B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer span {
    color: #F6F6F6;
}

.social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon {
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-image: url(git.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover {
    background-color: #0F2F83;
    filter: invert(1);
}

.social-icon:nth-of-type(2) {
    background-image: url(facebook.png);
}

.social-icon:nth-of-type(3) {
    background-image: url(insta.png);
}

.contenedor-pseudoclases {
    border: 5px solid #40CFAC;
    background-color: #ddd;
}

.contenedor-pseudo-elementos {
    border: 5px solid #40CFAC;
    background-color: #ddd;
}

.parrafo-introduccion {
    color: yellow;
}

.contenedor_estilos_en_linea {
    border: 5px solid #40CFAC;
    background-color: #ddd;
}
.contenedor_important{
    border: 5px solid #40CFAC;
    background-color: #ddd; 
}
#notaImportant{
    background-color: yellow;
}

#tabla_modeloCajas {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
#tabla_modeloCajas th{
    padding: 10px;
    border: solid 2px black;
}
#tabla_modeloCajas td {
    padding: 10px;
    border: solid 2px black;
}

#tabla_modeloCajas thead {
    background-color: black;
    border-bottom: solid 5px;
    color: white;
}

#tabla_modeloCajas {
    background-color: #40CFAC;
}

#tabla_modeloCajas tr:hover td {
    background-color: #0F2F83;
    color: #ddd;
}