body {
    background-color: #4642B8;
    position: relative;
}

#menu {
    background-color: black;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    color: white;
    display: block;
    padding: 15px 205.3px;
    text-decoration: none;
}

#menu ul li a:hover {
    background-color: #42B881;
}

.titulo {
    text-align: center;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor-HTML {
    display: flex;
    justify-content: center;
}
.contenedor-HTML img {
    height: 300px;
    width: 300px;
}
#Recursos{
    text-align: center;
}
#Recursos-desarrollo{
    margin: 50px auto;
    width: 600px;
}
table{
    background-color: #40CFAC;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
th, td{
    padding: 10px;
}

thead{
    background-color: black;
    border-bottom: solid 5px ;
    color: white;
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: #0F2F83;
    color: #ddd;
    
}
a{
    color: black;
}
h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
    background-image: url(fondoFooter.jpg);
    width: 84%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #96989B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer span{
    color: #F6F6F6;
}
.social-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.social-icon{
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-image: url(git.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    margin: 1rem;
}
.social-icon:hover{
    background-color: #0F2F83;
    filter: invert(1);
}
.social-icon:nth-of-type(2){
    background-image: url(facebook.png);
}
.social-icon:nth-of-type(3){
    background-image: url(insta.png);
}