body {
    background-color: #4642B8;
}

.titulo {
    text-align: center;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#menu {
    background-color: black;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    color: white;
    display: block;
    padding: 15px 225.75px;
    text-decoration: none;
}

#menu ul li a:hover {
    background-color: #42B881;
}

P {
    color: #F6F6F6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: rgba(219, 207, 207, 0.76);
}

.contenedorimg {
    display: flex;
    justify-content: center;
}

footer{
    width: 84%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #96989B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-image: url(git.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    margin: 1rem;
}
.social-icon:hover{
    background-color: #0F2F83;
    filter: invert(1);
}
.social-icon:nth-of-type(2){
    background-image: url(facebook.png);
}
.social-icon:nth-of-type(3){
    background-image: url(insta.png);
}